.limitar_secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container_input {
    padding: 5px;
    display: flex;
    gap: 5px;
    border: 2px solid #f3f3f3;
    border-radius: 20px;
}

.container_input:hover {
    border: 2px solid #daa520;
}

.container_input img {
    width: 30px;
    height: auto;
}

.container_input input {
    width: 100%;
    padding: 0 5px;
    border: 0;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: #daa520;
}

.container_input::placeholder {
    font-size: 14px;
    font-weight: 600;
}