.cards {
    width: 250px;
    flex: 1;
    border: 1px solid #daa520;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.cards figure {
    height: 250px;
}

.cards figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.container_informacoes {
    padding: 5px;
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_informacoes div:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container_informacoes div small {
    color: #daa520;
}

.container_informacoes div:nth-child(2) {
    text-align: right;
    font-weight: 600;
}