.container_principal {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.limitar_secao {
   /* width: 100%;
    max-width: 1024px;
    margin: 0 auto; */
}

.secao_cards {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secao_cards div h2 {
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #daa520;
    text-align: center;
}

.container_cards {   
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}